<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901054236957-q41s77paefi3ncqnfhrn57j6n2rt197u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901054236957-q41s77paefi3ncqnfhrn57j6n2rt197u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>901054236957-6nkk41h5bbu756s405udvvt4p9bnt541.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBga0k2QWMTmIJjWxM_2DhlCpBepVYUuow</string>
	<key>GCM_SENDER_ID</key>
	<string>901054236957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.errix.errixsadventure</string>
	<key>PROJECT_ID</key>
	<string>errix-s-adventure</string>
	<key>STORAGE_BUCKET</key>
	<string>errix-s-adventure.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901054236957:ios:dd509ab6db959f37fbb9f4</string>
	<key>DATABASE_URL</key>
	<string>https://errix-s-adventure-default-rtdb.asia-southeast1.firebasedatabase.app</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9793616844322643~8867323503</string>
</dict>
</plist>